div.busy { 
  position:absolute;
  top: 2%;
  left: 83%;
  margin-top: -50px;
  margin-left: -50px;
  display:none;
  background: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
}