/* all credit to Mike Bostock -- http://bl.ocks.org/mbostock/4339083 */

.ggtree .node {
  cursor: pointer;
  font: 10px sans-serif;
}

.ggtree .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.ggtree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.busy {
  position:absolute;
  top: 2%;
  left: 83%;
  margin-top: -50px;
  margin-left: -50px;
  display:none;
  background: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
}
